{{>header}}

<div class="main-content">
    <h1>{{title}}</h1>
    <h2>{{name}}</h2>

    <form class="form">
        <input type="text" class="location-field" name="location" id="" placeholder="Location">
        <input type="submit" class="button" value="Get Weather">
    </form>

    <p class="error"></p>
    <p class="location"></p>
    <p class="forecast"></p>
</div>

{{>footer}}