{{>header}}

<div class="main-content">
    <h1>{{title}}</h1>
    <h2>{{name}}</h2>

    <form class="form">
        <input type="text" class="location-field" name="location" id="" placeholder="Location">
        <input type="submit" value="Get Weather">
    </form>
</div>

{{>footer}}